

.nav-li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5% ;
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}



.logo-header {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 2rem;
}

.logo-header img {
    height: 35px; /* Tamaño ajustado del logo */
}

.logo-header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.ul-nav {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.li-a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif; /* Aplicar la fuente */
    font-weight: bold;
}

/* Efecto Hover */
.li-a:hover {
    color: var(--accent-color);
}

/* Línea animada debajo del enlace */
.li-a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--accent-color);
    bottom: -3px;
    left: 50%;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* Expande la línea al pasar el cursor */
.li-a:hover::after {
    width: 100%;
    left: 0;
}

